*{
    margin: 0%;
    padding: 0%;
}
.imagenLogo{
    height: 10vh;
}

.colorFondo{
    background-image: linear-gradient(0deg, rgba(102,2,22,0.9416141456582633) 50%, rgba(220,20,60,1) 100%);
}
.btn {
    color: black;
    border: solid black;
}
.btn :hover{
    color: white;
    border: solid white;
}
.btn-outline-success {
    --bs-btn-color: #ff4747;
    --bs-btn-border-color: #ff4747;
    --bs-btn-hover-bg: #ff4747;
    --bs-btn-hover-border-color: #ff4747;
    --bs-btn-active-bg: #ff4747;
    --bs-btn-active-border-color: #ff4747;
    --bs-btn-disabled-color: #ff4747;
}